/* Global Styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: hsl(232deg, 13%, 33%);
}

body {
    font-size: 15px;
    background-color: hsla(222, 16%, 84%, 0.45); 
    background-position:
    top 5px right 5px,
    bottom 5px left 5px;  
    background-repeat: no-repeat;
    background-image:
    url(../images/bg-top.svg),
    url(../images/bg-bottom.svg)
}

/* Header */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
    background: linear-gradient(to right, hsl(234, 59%, 74%), hsl(234, 67%, 68%));
    border-radius: 25px;
}

.switch::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    top: 3px; 
    left: 6px;
    transition: all 0.3s;
} 

.checkbox:checked + .switch::after {
    left : 30px; 
}


.checkbox:checked + .switch {
    background-color: hsl(233, 79%, 77%);
}

.checkbox { 
    display : none;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 4em;
}

.main-heading {
    font-size: 2em;
    font-weight: 600;
    color: rgb(117, 120, 150);
}

.inner-header {
    width: 300px;
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
}

.inner-header p {

    font-size: 1.125em;
    font-stretch: 50%;
    font-weight: 600;
    color: rgb(155, 156, 170);
}

/* Cards */

.card-container {
    padding: 4em 0;
    display: flex;
    justify-content: center;
}


.card-container > div {
    border-radius: 20px;
    width: 350px;
    height: 500px;
    background:  #f4f4f4;
    margin: 0.275em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card1:hover {
    transform: scale(1.1);
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237deg, 63%, 64%));
    color:white;
}

.card1:hover > div > p {
    color: #fff;
} 

.card1:hover > .benefits > div > p {
    color: #fff;
} 

.card2:hover {
    transform: scale(1.1);
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237deg, 63%, 64%));
}

.card2:hover > div > p {
    color: #fff;
} 

.card2:hover > .benefits > div > p {
    color: #fff;
} 

.card3:hover {
    transform: scale(1.1);
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237deg, 63%, 64%));
}

.card3:hover > div > p {
    color: #fff;
} 

.card3:hover > .benefits > div > p {
    color: #fff;
} 

.type {
    margin: 2em 0 0.8em 0;
    padding: 0.225em 0;
}

.type p {
    font-size: 1.3em;
    font-weight: 600;
    color: rgb(126, 128, 150);
}

.price {
    padding: 0.275em 0;
}

.price p {
    font-size: 4em;
    font-weight: 700;
}

.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 3em 0;
}

.benefits > div {
    width: 250px;
    padding: 0.825em 0;
    border-bottom: 0.825px solid rgb(192, 194, 204);
    text-align: center;
}

.benefits > div > p {
    font-size: 1em;
    font-weight: 600;
    color: rgb(126, 128, 150);
}

.button-container {
    padding-top: 2em;
}

.button {
    border-radius:5px;
    display: block;
    width: 250px;
    border: none;
    background-image: linear-gradient(to right, hsl(234, 59%, 74%), hsl(234, 67%, 68%));
    padding: 14px 28px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}

.card1:hover > .button-container > .button{
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    color:  hsl(234, 67%, 68%);;
} 

.card2:hover > .button-container > .button {
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    color:  hsl(234, 67%, 68%);;
} 

.card3:hover > .button-container > .button {
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    color:  hsl(234, 67%, 68%);;
} 


/* Responsive Design */

@media screen and (max-width: 800px) {

    body {
        background-position:
        bottom 5px left 5px;  
        background-repeat: no-repeat;
        background-image:
        url(../images/bg-bottom.svg)
    }

    .card-container {
        padding: 5em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-container > div {
        margin: 2em 0;
    }
}
